*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #606060;
}

.title {
    margin-top: 60px;
    color: #035E7B;
}

#searchbar {
    border: solid 2px lightgray;
}

.createBtn {
    width: 100px;
    background-color: #035E7B;
    border-radius: 20px;
    color: white;
}

.table-titles-color {
    background-color: #95BF8F;
}

#line1, #line3 {
    background-color: white;
}
#line2, #line4 {
    background-color: #bce784;
}

.previous-next-links {
    color: #035E7B;
    width: 100px;
    border-radius: 20px;
    border: solid 2px lightgray;
}

.previous-next-links:hover {
    color: #BADEFC;
    text-decoration: none;
    border: solid 2px #035E7B;
}
